[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
django = "*"
psycopg-binary = "*"
postgres = "*"
psycopg = "*"

[dev-packages]

[requires]
python_version = "3.13"
