[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
django = "*"
psycopg-binary = "*"
postgres = "*"
psycopg = "*"
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pyjwt = "*"
pytz = "*"
sqlparse = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.13"
